<div class="content_max" id="top">
    <div class="fc-container">
  
    <h1 *ngIf="term == 'termos-de-uso'" class="title">Termos de uso</h1>
    <h1 *ngIf="term == 'termos-indique-ganhe'" class="title">Termos do indique e ganhe</h1>
    <h1 *ngIf="term == 'privacidade'" class="title">Política de privacidade</h1>
    
    <div class="line"></div>

    <div class="content_margin">

    <div class="scroll-content">
        <div *ngIf="term == 'termos-de-uso'">
            <div class="term-content" [innerHTML]="useTermHtml"></div>
        </div>
        <div *ngIf="term == 'termos-indique-ganhe'">
            <div class="term-content" [innerHTML]="mgmTermHtml"></div>
        </div>
        <div *ngIf="term == 'privacidade'" class="term-text">
            <p>Seja bem-vindo à Férias & Co., sua plataforma de benefícios de viagens (“<span class="underline-text">Plataforma</span>”). 
                A Férias & Co. (“<span class="underline-text">Férias & Co.</span>”) ou (“<span class="underline-text">Nós</span>”) está comprometida com a 
                privacidade do Usuário (“<span class="underline-text">Usuário</span>” ou “<span class="underline-text">Você</span>”).  
                Para  tanto,  a  Férias  &  Co.  desenvolveu  essa  Política  de  Privacidade  (“<span class="underline-text">Política  de Privacidade</span>”,  
                ou  “<span class="underline-text">Política</span>”)  que  descreve  como  a  Férias  &  Co.  coleta,  usa,  utiliza,  acessa, reproduz, transmite, processa, arquiva, 
                compartilha ou elimina seus dados pessoais. Esta Política não se aplica às práticas de empresas que não pertencem nem são controladas por nós, incluindo seu empregador, 
                ou qualquer parceiro comercial da Férias & Co, incluindo os parceiros comerciais que disponibilizam os serviços de viagens relacionados aos benefícios adquiridos por você.
            </p><br />

            <p><strong>CASO  VOCÊ  NÃO  CONCORDE  COM  QUAISQUER  DISPOSIÇÕES  DESTA  POLÍTICA  DE PRIVACIDADE, POR FAVOR NÃO UTILIZE A PLATAFORMA 
                E NÃO REALIZE QUALQUER OPERAÇÃO POR MEIO DA PLATAFORMA.</strong>
            </p><br />

            <p><span class="underline-text">Funcionamento da Plataforma</span></p>
            <p>
                    A Plataforma é disponibilizada de forma gratuita aos Usuários, isto é, 
                    colaboradores das empresas associadas (“<span class="underline-text">Associadas</span>”) à Férias & Co. e que se interessam 
                    em adquirir alguma das assinaturas para aquisição de serviços de viagens, disponibilizados
                    pelo meio da Plataforma. Para verificar as demais disposições aplicáveis à Plataforma, 
                    acesse nossos Termos de Uso.
            </p><br />
            
            <p><span class="underline-text">Dados Pessoais coletados</span></p>
            <p>
                    A Férias & Co. coleta as seguintes informações dos Usuários:
            </p>
            <ol>
                <li>Informações   cadastrais   fornecidas   diretamente   pelas   Associadas:   nome completo, e-mail corporativo e número de CPF.</li>
                <li> Informações  fornecidas  diretamente  pelo  Usuário:  nome  completo,  data  de nascimento, telefone celular, e-mail pessoal do Usuário; 
                    nome e data de nascimento de dependentes, conforme necessário, incluindo menores de idade.</li>
                <li>Informações  de  navegação  e  Cookies:  Além  das  informações  cadastrais,  podemos coletar  outras  informações  quando  o  Usuário  se  cadastra,  
                    utiliza  ou  navega  em  nossa Plataforma tais como endereços de IP (<i>Internet Protocol</i>) ou nomes de domínio utilizados pelo Usuário ao acessar o Website, 
                    endereços URI (<i>Uniform Resource Identifier</i>), data e hora da navegação, método de envio e servidor, tamanho do arquivo obtido em resposta, 
                    código numérico indicando o status da resposta do servidor (com sucesso, erro, etc.), país de  origem,  as  características  do  navegador  
                    e  do  sistema  operacional  utilizado  pelo Usuário,  lapsos  temporais  da  visita  (por  exemplo,  o  tempo  gasto  em  cada  página)  
                    e sequência de páginas consultadas, entre outros. Podemos também utilizar <i>Cookies</i>, <i>web beacons</i> ou tecnologias semelhantes.</li>
                <li>Outras  fontes:  Podemos  coletar  informações  específicas  de  dispositivos  móveis  que acessam  a  Plataforma.  Assim,  podemos  receber  informações 
                    sobre  sua  localização geográfica e o IMEI (número único identificador do seu aparelho).</li>
            </ol>
            
            <p><span class="underline-text">Finalidades do tratamento de dados pessoais</span></p>
            <p>
                    Os dados pessoais coletados são armazenados e tratados para as seguintes finalidades: 
            </p>
            <ol>
                <li>Entrar em contato com os Usuários, para informar-lhes sobre o serviço prestado;</li>
                <li>Entrar em contato com os Usuários sobre ofertas, sorteios ou promoções da Férias & Co., ou de seus parceiros comerciais;</li>
                <li>Realizar o pagamento da assinatura contratada pelo Usuário;</li>
                <li>Aprimorar ou facilitar os serviços oferecidos;</li>
                <li>Atender ao disposto na legislação e regulamentação aplicável;</li>
                <li>Desenvolver estudos internos sobre os interesses, comportamentos e demografia dos usuários
                    para aprimorar e customizar a sua experiência;</li>
                <li>Classificar  e  agrupar  informações  de  Usuários,  assim  como  consolidar  dados 
                    estatísticos  a  respeito  desses,  inclusive  para  definir  a  composição  e  o  volume 
                    de tráfego em nossos servidores.</li>
            </ol>
            
            <p><span class="underline-text">Compartilhamento de dados pessoais com terceiros</span></p>
            <p>
                    Nós podemos compartilhar suas informações pessoais com outras empresas do grupo econômico 
                    do Férias & Co., com terceiros, parceiros de negócios, que sejam relevantes para fins de 
                    viabilizar a  prestação  dos  serviços  aos  Usuários  e  Associadas.  
                    O  compartilhamento  poderá  ocorrer  nas seguintes hipóteses:  
            </p>
            <ol>
                <li>Agências  de  Viagens,  Companhias  Aéreas,  Hotéis  e  demais  fornecedores  
                    de serviços de viagem: podemos compartilhar dados pessoais dos Usuários para 
                    viabilizar a contratação dos serviços de viagens e respectivos agendamentos. 
                    Esses fornecedores recebem  suas  informações  com  a  finalidade  específica 
                     de  contratação  de  serviços  de viagem;</li>
                <li>Empresas do Grupo Econômico da Férias & Co. e outros Fornecedores: podemos 
                    compartilhar  dados  pessoais  dos  Usuários  para  viabilizar  a  prestação  
                    dos  serviços  e aprimorá-los. São exemplos os serviços logísticos, envio de 
                    e-mails, análise da base de dados,  criação  de  ações  de  marketing,  
                    processamento  das  transações  por  cartão  de  crédito ou demais meios 
                    de pagamento.  Esses fornecedores recebem suas informações com a finalidade 
                    específica de prestar serviços à Férias & Co.;
                </li>
                <li>Pagamento  da  assinatura:  podemos  compartilhar  as  informações  referentes  
                    aos valores  da  assinatura  escolhida  por  você  para  que  seja  feito  o  
                    desconto  em  folha  de pagamento. Além disso, caso você opte por realizar o 
                    pagamento por meio de cartão de crédito, compartilharemos os dados necessários 
                    para completar a transação</li>
                <li>Requisição  judicial:  podemos  compartilhar  suas  informações  pessoais  em  caso  
                    de requisição judicial ou mediante determinação de autoridade competente, nos termos da lei;</li>
                <li> Com  autorização  do  Usuário:  podemos  compartilhar  suas  informações  pessoais 
                    mediante sua prévia autorização;</li>
            </ol>
            
            <p><span class="underline-text">Transferência Internacional de dados pessoais</span></p>
            <p>
                    Nós podemos compartilhar suas informações pessoais internacionalmente com outras 
                    empresas do nosso grupo econômico, com terceiros, parceiros de negócios, 
                    que sejam relevantes para fins de  viabilizar  a  prestação  dos  serviços  aos  
                    Usuários  e  Associadas,  nos  termos  da  legislação aplicável. O compartilhamento 
                    poderá ocorrer nas seguintes hipóteses: 
            </p>
            <ol>
                <li>Agências  de  Viagens,  Companhias  Aéreas,  Hotéis  e  demais  fornecedores  de serviços  
                    de    viagem:    podemos    compartilhar    dados    pessoais    dos    Usuários
                    internacionalmente  para  viabilizar  a  contratação  dos  pacotes  de  viagens  e  
                    respectivos agendamentos  no  exterior.  Esses  fornecedores  recebem  suas  informações 
                    com  a finalidade específica de contratação de serviços de viagem;</li>
                <li> Serviços de infraestrutura de rede e demais fornecedores: podemos compartilhar dados
                     pessoais dos Usuários para viabilizar a prestação dos serviços e aprimorá-los. São 
                     exemplos  os  serviços  de  infraestrutura  de  rede  e  armazenamento  em  nuvem. 
                     Esses fornecedores recebem suas informações com a finalidade específica de prestar 
                     serviços à Férias & Co.</li>
            </ol>
            
            <p><span class="underline-text">Direitos dos Usuários</span></p>
            <p>
                    Os Usuários possuem os seguintes direitos no que se refere aos seus dados pessoais: 
            </p>
            <ol>
                <li>Confirmação da existência de tratamento de dados pessoais e acesso aos dados pessoais: 
                    por  meio  de  requisição  do  Usuário,  concederemos  a  confirmação  da  existência  de
                    tratamento  de  dados  pessoais  e  acesso  aos  dados  pessoais,  nos  termos  da  legislação
                    aplicável;
                </li>
                <li>Correção de dados incompletos, inexatos ou desatualizados: o Usuário poderá, 
                    a qualquer momento, alterar e editar os seus dados pessoais, fazendo o login na Plataforma;</li>
                <li>Portabilidade: o Usuário poderá requerer, a qualquer momento, a portabilidade de seus dados 
                    pessoais, excluídos aqueles dados que já foram anonimizados ou eliminados, nos termos da 
                    legislação aplicável;</li>
                <li>Informações  sobre  uso  compartilhado  de  dados:  o  Usuário  poderá  ter  acesso  a 
                    informações sobre o eventual compartilhamento de seus dados pessoais, nos termos do 
                    estabelecido na presente Política;</li>
                <li>Informação   sobre   a   possibilidade   de   não   fornecer   consentimento   e   
                    revogar   o consentimento:  quando  aplicável,  o  Usuário  poderá  revogar  o  seu  
                    consentimento,  a qualquer momento, mediante manifestação gratuita e facilitada. </li>
            </ol>
            
            <p><span class="underline-text">Proteção aos dados pessoais de menores de idade</span></p>
            <p>
                    Reconhecemos a necessidade de fornecer mais proteções de privacidade com relação aos dados 
                    pessoais que coletamos de menores de idade na Plataforma. A utilização de alguns dos benefícios
                    da  Plataforma  necessita  a  inserção  de  dados  pessoais  de  menores.  Tais  dados 
                    poderão eventualmente ser compartilhados com terceiros para que a prestação dos serviços de 
                    viagens seja  feita  (ex:  reservas  de  hotéis,  reservas  de  passagens  aéreas,  entre  
                    outros).  O  tratamento conferido aos dados pessoais de menores seguirá as mesmas diretrizes 
                    que os dados de maiores de idade, conforme previsto nesta Política de Privacidade. Ficam 
                    preservados os direitos do titular conforme acima mencionados, além dos mesmos mecanismos 
                    de contato para resolver quaisquer questões relacionadas ao tratamento de dados pessoais 
                    de menores de idade.
            </p><br />

            <p><strong>AO UTILIZAR A PLATAFORMA, O USUÁRIO RECONHECE E AUTORIZA O TRATAMENTO DE DADOS PESSOAIS DE 
                MENORES INSERIDOS POR ELE NA PLATAFORMA PARA FINS DE PRESTAÇÃO DE SERVIÇOS  DE  VIAGENS,  SEJA  PELA  
                FÉRIAS&CO  OU  PELAS  EMPRESAS  PARCEIRAS  DA FÉRIAS&CO.</strong>
            </p><br />

            <p><span class="underline-text">Segurança</span></p>
            <p>
                    Nós  estamos  comprometidos  em  entregar  uma  Plataforma  segura  e  confiável  para  você  e 
                    garantimos tomar as medidas necessárias para proporcionar uma melhor experiência em nossa Plataforma 
                    nesse sentido. No entanto, ressaltamos que, assim como qualquer interação ocorrida na  internet,  
                    não  é  possível  garantir  um  nível  de  segurança  infalível  e  livre  de  toda  e  qualquer 
                    ameaça, tendo em vista a rapidez em que novas tecnologias são desenvolvidas. Dentro desse cenário,  
                    nos  comprometemos  a  empreender  nossos  melhores  esforços  para  garantir  que  a Plataforma 
                    esteja, dentro do possível, sempre atualizada e protegida de invasões e falhas.
            </p><p>
                    O acesso à Plataforma da Férias & Co. está protegido por uma série de sistemas e procedimentos que 
                    garantem a segurança do Usuário durante o uso e interação com a Plataforma. Todo acesso está  
                    vinculado  à  autenticação  do  Usuário  por  meio  de  login  e  senha  pessoal,  que  deverá  
                    ser mantido em sigilo pelo Usuário. A Plataforma é um ambiente seguro com certificado SSL para que 
                    possamos proporcionar um ambiente em que qualquer transmissão de dados seja sigilosa e segura.
            </p><p>
                    Para  proporcionar  uma  interação  mais  segura  de  nossa  Plataforma,  é  recomendável  que  
                    você proteja  suas  informações  de  acesso,  como  login  e  senha,  de  modo  a  evitar  acessos  
                    não autorizados. Isso pode ser evitado por meio de medidas como, por exemplo, desconectar-se de sua 
                    conta depois de usar um computador compartilhado, selecionar e proteger adequadamente sua senha e/ou 
                    outros mecanismos para entrar na sua conta e limitar o acesso a seu computador ou dispositivo e 
                    navegador desconectando-se de sua conta depois de encerrar o acesso à sua conta.
            </p><br />


            <p><span class="underline-text">Término do tratamento de Dados Pessoais</span></p>
            <p>
                    Nós armazenamos e mantemos suas informações: 
            </p>
            <ol>
                <li>Pelo tempo exigido por lei;</li>
                <li>Até o término do tratamento de dados pessoais, conforme mencionado abaixo; ou</li>
                <li>Pelo tempo necessário a preservar o nosso legítimo interesse, quando aplicável.</li>
            </ol>
            <p>
                    Assim,  trataremos  seus  dados,  por  exemplo,  durante  os  prazos  prescricionais  aplicáveis  
                    ou enquanto  necessário  para  cumprimento  de  obrigação  legal  ou  regulatória.  O  término  
                    do tratamento de dados pessoais ocorrerá nos seguintes casos: 
            </p>
            <ol>
                <li>Quando a finalidade para o referido tratamento de dados pessoais foi alcançada, e/ou os dados pessoais 
                    coletados deixarem de ser necessários ou pertinentes ao alcance de tal finalidade;</li>
                <li>Quando o Usuário ou a Associada solicitar a exclusão dos dados, quando aplicável; e</li>
                <li>Quando houver uma determinação legal neste sentido.</li>
            </ol>
            <p>
                    Nesses casos de término de tratamento de dados pessoais, ressalvadas as hipóteses estabelecidas 
                    pela  legislação  aplicável  ou  pela  presente  Política  de  Privacidade,  os  dados  pessoais  
                    serão eliminados.
            </p>

            <p><span class="underline-text">Aplicação e alterações</span></p>
            <p>
                    Esta  Política  de  Privacidade  aplica-se  a  todos  os  nossos  produtos  e  serviços.  
                    A  Férias  &  Co. reserva-se  o  direito  de  alterar  esta  Política  de  Privacidade  a  
                    qualquer  momento,  mediante publicação da versão atualizada no website. Nesses casos, 
                    o Usuário será informado quanto às alterações  realizadas.  Nos  casos  exigidos  pela  
                    legislação  aplicável,  um  novo  consentimento poderá ser coletado. 
            </p>

            <p><span class="underline-text">Identificação do Controlador</span></p>
            <p>
                    A FERIAS & CO. VIAGENS E TURISMO LTDA., pessoa jurídica inscrita no CNPJ/MF sob o nº 
                    34.008.403/0001-07, com sede na Avenida Paulista, 2001, 12º andar, Conjunto 1212, Bela Vista, 
                    na cidade de São Paulo, Estado de São Paulo, é a empresa controladora dos seus dados pessoais 
                    no âmbito desta Política de Privacidade.
            </p>

            <p><span class="underline-text">Dúvidas e Reclamações</span></p>
            <p>
                    Em caso de perguntas, dúvidas ou solicitações:
            </p>
            <p>
                    contato@ferias.co
            </p>
        </div>


    </div>

</div>
</div>
</div>