$ceu_de_pipa: #CE3A3C;
$pe_na_areia: #FFF4E0;
$horizonte: #F9B508;
$por_do_sol: #f97808;
$mergulho: #00B0B0;
$passeio_noturno: #4E306F;
$light_peach: #fcd3cd;
$pedra_do_mar: #535252;
$pe_na_estrada: #393E46;
$color-primary: #245cc4;
$color-secondary: #f5f5f5;
$color-light: #006e6e;
$color_fundo: #fcfcfc;